@mixin colors {    
    --color-background:       #110f16;
    --color-background-area:  #181424;
    --color-border:           #2a2340;
    --color-text:             #d4cfee;
}

.editor {
    @include colors;

    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-background);

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: var(--color-text);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-y: auto;

    .text {
        flex: 1;
        resize: none;
        border: none;
        outline: none;
        text-decoration: none;
        padding: 1rem 1.5rem;
        overflow: hidden;
        background-color: var(--color-background-area);
        color: var(--color-text);
    }

    .preview {
        flex: 1;
        border: none;
        outline: none;
        text-decoration: none;
        overflow: hidden;
        padding: 1rem 1.5rem;
        background-color: var(--color-background-area);
        color: var(--color-text);
    }
}
