body {
    width: 100%;
    height: 100vh;
    margin: 0;

    #root {
        width: calc(100% - 40px);
        height: calc(100vh - 20px);
        padding: 10px 20px;
        background-color: #110f16;
    }
}
