@mixin colors {    
    --color-background:       #110f16;
    --color-background-area:  #181424;
    --color-border:           #2a2340;
    --color-text:             #d4cfee;
}

.syntheticText {
    @include colors;

    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    background-color: var(--color-background);
    color: var(--color-text);

    resize: none;
    border: none;
    outline: none;

    white-space: pre-wrap;

    padding: 10px 20px;
}

.caret {
    position: absolute;
    width: 1px;
    background-color: #fff;
    display: none;
    animation: blink 1s step-end infinite;
    pointer-events: none;
    z-index: 10;
}

.blink {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
