.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .panel {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 20px;

        .title {
            padding: 5px 0;
            cursor: pointer;
            color: #cccccc70;
            transition: color 0.8s, border-bottom-color 0.8s;
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom-color: #ccc;
                color: #ccc;
            }

            &.active {
                border-bottom-color: #ccc;
                color: #ccc;
            }
        }
    }

    .tabs {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
    }
}
