.sandbox {
    display: flex;
    width: 80%;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;

    .synthetic {
        width: 100%;
        height: 100%;
    }
}
