.sandbox {
    display: flex;
    width: 80%;
    flex-grow: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #110f16;
    border-radius: 10px;
    padding: 10px;

    .synthetic {
        width: 100%;
        height: 100%;
    }
}
