.app {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .panel {
        position: relative;
        width: 80%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 20px;

        .title {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px 0;
            cursor: pointer;
            color: var(--color-text-inactive);
            transition: color 1s, border-bottom-color 1s;
            border-bottom: 1px solid transparent;

            .icon {
                width: 20px;
                height: 20px;
                object-fit: contain;
                filter: invert(0.5);
                transition: filter 1s;

                &.theme {
                    transform: rotateY(180deg);
                    filter: invert(0.5);
                }
            }

            &:hover {
                border-bottom-color: var(--color-text);
                color: var(--color-text);

                .icon {
                    filter: invert(1);
                }
            }

            &.active {
                border-bottom-color: var(--color-text);
                color: var(--color-text);

                .icon {
                    filter: invert(1);
                }

                .icon.theme {
                    filter: invert(0);
                }
            }
        }
    }

    .tabs {
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;

        .activeTab {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 80%;
            flex-grow: 1;
            // border-radius: 10px;
            // padding: 10px;
        }
    }

    @media (prefers-color-scheme: light) {
        .panel .title {
            color: var(--color-text-inactive);

            &:hover {
                border-bottom-color: var(--color-text);
                color: var(--color-text);

                .icon {
                    filter: invert(0);
                }
    
                .icon.theme {
                    filter: invert(0);
                }
            }

            &.active {
                border-bottom-color: var(--color-text);
                color: var(--color-text);

                .icon {
                    filter: invert(0);
                }
            }

            .icon {
                filter: invert(0.5);
            }
    
            .icon.theme {
                filter: invert(0.5);
            }
        }
    }
}

html[data-theme="light"] .app {
    .panel .title {
        color: var(--color-text-inactive);

        &:hover {
            border-bottom-color: var(--color-text);
            color: var(--color-text);

            .icon {
                filter: invert(0);
            }

            .icon.theme {
                filter: invert(0);
            }
        }

        &.active {
            border-bottom-color: var(--color-text);
            color: var(--color-text);

            .icon {
                filter: invert(0);
            }
        }

        .icon {
            filter: invert(0.5);
        }

        .icon.theme {
            filter: invert(0.5);
        }
    }
}
