.guide {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    transition: opacity, display, 1s ease;
    transition-delay: 0.5s;

    &.active {
        display: block;
        position: relative;
        z-index: 1;
        opacity: 1;
    }

    p {
        margin: 10px 0;
    }

    hr {
        width: 100%;
        height: 1px;
        position: relative;
        border: none;
        margin: 20px 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            background-color: var(--color-divider);
        }
    }

    .code {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .tabs {
            display: flex;
            gap: 30px;
            border-radius: 16px 16px 0 0;
            background-color: var(--color-background);
            padding: 15px 20px;

            .title {
                position: relative;
                color: var(--color-text-inactive);
                border: none;
                cursor: pointer;
                transition: color 1s ease;

                &::after {
                    opacity: 0;
                    content: '';
                    position: absolute;
                    bottom: -17px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: transparent;
                    transition: background-color 1s ease, opacity 1s ease;
                }

                &.active {
                    color: var(--color-text);

                    &::after {
                        opacity: 1;
                        content: '';
                        position: absolute;
                        bottom: -17px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: var(--color-text);
                    }
                }
            }
        }

        .blocks {
            display: flex;
            gap: 10px;
            background-color: var(--color-background);
            padding: 10px 20px;
            border-radius: 0 0 16px 16px;

            .content {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &:hover {
                    .button {
                        opacity: 1;
                    }

                    .language {
                        opacity: 0;
                    }
                }

                .code pre {
                    background-color: var(--color-background) !important;
                }

                .button {
                    opacity: 0;
                    position: absolute;
                    top: 0px;
                    right: 0;
                    background-color: var(--color-button-bg);
                    color: var(--color-button-text);
                    border: none;
                    padding: 2px 5px;
                    border-radius: 5px;
                    font-size: 12px;
                    cursor: pointer;
                    transition: background-color 0.2s ease, opacity 1s ease;
                    z-index: 1;

                    &:hover {
                        background-color: var(--color-button-bg-hover);
                    }
                }

                .language {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: var(--color-text);
                    font-size: 12px;
                    font-weight: 500;
                    text-align: right;
                    transition: opacity 1s ease;
                }
        
                pre {
                    code {
                        span {
                            white-space: pre-wrap;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }

    @media (prefers-color-scheme: light) {
        hr {
            &::after {
                background-color: var(--color-divider);
            }
        }
    
        .code {
            .tabs {
                background-color: var(--color-background-area);
    
                .title {
                    color: var(--color-text-inactive);

                    &.active {
                        color: var(--color-text);
    
                        &::after {
                            background-color: var(--color-text);
                        }
                    }
                }
            }
    
            .blocks {
                background-color: var(--color-background-area);

                .content {
                    .code pre {
                        background-color: var(--color-background-area);
                    }

                    .button {
                        background-color: var(--color-button-bg);
                        color: var(--color-button-text);
    
                        &:hover {
                            background-color: var(--color-button-bg-hover);
                        }
                    }
    
                    .language {
                        color: var(--color-text);
                    }
                }
            }
        }
    }
}

html[data-theme="light"] .guide {
    hr {
        &::after {
            background-color: var(--color-divider);
        }
    }

    .code {
        .tabs {
            background-color: var(--color-background-area);

            .title {
                color: var(--color-text-inactive);

                &.active {
                    color: var(--color-text);

                    &::after {
                        background-color: var(--color-text);
                    }
                }
            }
        }

        .blocks {
            background-color: var(--color-background-area);

            .content {
                .code pre {
                    background-color: var(--color-background-area) !important;
                }

                .button {
                    background-color: var(--color-button-bg);
                    color: var(--color-button-text);

                    &:hover {
                        background-color: var(--color-button-bg-hover);
                    }
                }

                .language {
                    color: var(--color-text);
                }
            }
        }
    }
}
