.guide {
    display: none;
    opacity: 0;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 10px;
    padding: 10px;
    transition: opacity, display, 1s ease;
    transition-delay: 0.5s;

    &.active {
        display: block;
        position: relative;
        z-index: 1;
        opacity: 1;
    }

    p {
        margin: 10px 0;
    }

    hr {
        width: 100%;
        height: 1px;
        position: relative;
        border: none;
        margin: 20px 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            background-color: var(--color-divider);
        }
    }

    .overview {
        margin-top: 0;
    }

    .code {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            border-radius: 16px 16px 0 0;
            background-color: var(--color-background);

            .tabs {
                display: flex;
                // gap: 30px;
                padding: 0 5px;

                .tab {
                    position: relative;
                    color: var(--color-text-inactive);
                    border: none;
                    cursor: pointer;
                    transition: color 1s ease;
                    padding: 10px 15px;
                    font-size: 14px;
    
                    &::after {
                        opacity: 0;
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        left: 15px;
                        width: calc(100% - 30px);
                        height: 2px;
                        background-color: var(--color-text);
                        transition: background-color 1s ease, opacity 1s ease;
                    }

                    &:hover {
                        color: var(--color-text);

                        &::after {
                            opacity: 1;
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            left: 15px;
                            width: calc(100% - 30px);
                            height: 2px;
                            background-color: var(--color-text);
                        }
                    }
    
                    &.active {
                        color: var(--color-text);
    
                        &::after {
                            opacity: 1;
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            left: 15px;
                            width: calc(100% - 30px);
                            height: 2px;
                            background-color: var(--color-text);
                        }
                    }
                }
            }

            .button {
                background-color: transparent;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                font-size: 12px;
                cursor: pointer;

                &:hover .icon {
                    fill: var(--color-text);
                }

                .icon {
                    width: 16px;
                    height: 16px;
                    object-fit: contain;
                    fill: var(--color-text-inactive);
                }
            }
        }

        .blocks {
            display: flex;
            gap: 10px;
            background-color: var(--color-background);
            padding: 10px 20px;
            border-radius: 0 0 16px 16px;

            .content {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow-x: auto;

                &:hover {
                    .button {
                        opacity: 1;
                    }
                }

                .language {
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: var(--color-text-inactive);
                    font-size: 12px;
                    font-weight: 500;
                    text-align: right;
                    transition: opacity 1s ease;
                    user-select: none;
                    pointer-events: none;
                }

                .code pre {
                    background-color: var(--color-background) !important;
                }
        
                pre {
                    code {
                        span {
                            white-space: pre-wrap;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }

    @media (prefers-color-scheme: light) {
        hr {
            &::after {
                background-color: var(--color-divider);
            }
        }
    
        .code {
            .header {
                background-color: var(--color-background-area);
    
                .tabs { 
                    .tab {
                        color: var(--color-text-inactive);
    
                        &:hover {
                            color: var(--color-text);
                        }
    
                        &.active {
                            color: var(--color-text);
    
                            &::after {
                                background-color: var(--color-text);
                            }
                        }
                    }
                }
    
                .button {
                    &:hover .icon {
                        fill: var(--color-text);
                    }
    
                    .icon {
                        fill: var(--color-text-inactive);
                    }
                }
            }
    
            .blocks {
                background-color: var(--color-background-area);
    
                .content {
                    .language {
                        color: var(--color-text-inactive);
                    }
    
                    .code pre {
                        background-color: var(--color-background-area) !important;
                    }
                }
            }
        }
    }
}

html[data-theme="light"] .guide {
    hr {
        &::after {
            background-color: var(--color-divider);
        }
    }

    .code {
        .header {
            background-color: var(--color-background-area);

            .tabs { 
                .tab {
                    color: var(--color-text-inactive);

                    &:hover {
                        color: var(--color-text);
                    }

                    &.active {
                        color: var(--color-text);

                        &::after {
                            background-color: var(--color-text);
                        }
                    }
                }
            }

            .button {
                &:hover .icon {
                    fill: var(--color-text);
                }

                .icon {
                    fill: var(--color-text-inactive);
                }
            }
        }

        .blocks {
            background-color: var(--color-background-area);

            .content {
                .language {
                    color: var(--color-text-inactive);
                }

                .code pre {
                    background-color: var(--color-background-area) !important;
                }
            }
        }
    }
}
