.sandbox {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--color-background);
    transition: opacity, display, flex-grow, flex-shrink, 1s ease;
    transition-delay: 0.5s;

    &.active {
        z-index: 1;
        opacity: 1;
        position: relative;
        display: flex;
        flex-grow: 1;
        border-radius: 10px;
        padding: 10px;
    }

    .synthetic {
        width: 100%;
        height: 100%;
    }

    @media (prefers-color-scheme: light) {
        background-color: var(--color-background-area);
    }
}

html[data-theme="light"] .sandbox {
    background-color: var(--color-background-area);
}
